<ng-template #loadertemplate>
    <span>Loading...</span>
</ng-template>
<ng-template #errortemplate>
    <span>{{errorMessage}}</span>
</ng-template>
<ng-template #norecordtemplate>
    <span>No record found</span>
</ng-template>
<div *ngIf="requestCompleted;else loadertemplate">
    <div *ngIf="errorMessage=='';else errortemplate">
        <div *ngIf="productInfo;else norecordtemplate">
            <h2>
                Details of {{productInfo.productName}}
            </h2>
            &nbsp;&nbsp;
            <!-- <button type="button" class="btn btn-primary"
                [routerLink]="['/products/update',productInfo.productId]">Edit</button> -->
            <button type="button" class="btn btn-primary" (click)="goToUpdate(productInfo.productId)">Edit</button>
        </div>
    </div>
</div>